.braid-services-header {
    margin-top: 75px;
}

h2 {
    font-family: "Amatic SC", cursive;
    font-size: 1.8rem;
    padding-top: 35px;
    margin-left: 15px;
}

.services-text {
    margin: 15px 15px 0 25px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6rem;
}

.services-header {
    margin-top: 25px;
}